{{- if .Values.clickhouse.enabled }}
apiVersion: 'clickhouse.altinity.com/v1'
kind: 'ClickHouseInstallation'

metadata:
  name: 'uptrace1'

spec:
  configuration:
    users:
      # printf 'uptrace' | sha256sum
      uptrace/password_sha256_hex: 445af3990944c398ed9733d476360d9d6ccad39c04db52e615839bb928463f90
      uptrace/networks/ip:
        - '::/0'
    clusters:
      - name: 'uptrace1'
        layout:
          shardsCount: 1
          replicasCount: 1

  defaults:
    templates:
      podTemplate: pod-template
      dataVolumeClaimTemplate: data-volume-template
      logVolumeClaimTemplate: log-volume-template

  templates:
    podTemplates:
      - name: pod-template
        spec:
          {{- with .Values.clickhouse.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          containers:
            - name: clickhouse
              image: "{{ .Values.clickhouse.image.repository }}:{{ .Values.clickhouse.image.tag }}"
              imagePullPolicy: {{ .Values.clickhouse.image.pullPolicy }}
              env:
                - name: CLICKHOUSE_ALWAYS_RUN_INITDB_SCRIPTS
                  value: 'true'
              volumeMounts:
                - name: bootstrap-configmap-volume
                  mountPath: /docker-entrypoint-initdb.d
          volumes:
            - name: bootstrap-configmap-volume
              configMap:
                name: clickhouse-bootstrap-configmap

    volumeClaimTemplates:
      - name: data-volume-template
        spec:
          accessModes:
            - ReadWriteOnce
          {{- with .Values.clickhouse.persistence.storageClassName }}
          storageClassName: {{ . | quote }}
          {{- end }}
          resources:
            requests:
              storage: {{ .Values.clickhouse.persistence.size | quote }}
      - name: log-volume-template
        spec:
          accessModes:
            - ReadWriteOnce
          {{- with .Values.clickhouse.persistence.storageClassName }}
          storageClassName: {{ . | quote }}
          {{- end }}
          resources:
            requests:
              storage: 1Gi
{{- end }}
