{{- if .Values.postgresql.enabled }}
apiVersion: postgresql.cnpg.io/v1
kind: Cluster

metadata:
  name: uptrace-postgresql
  labels:
    app: clickhouse
    {{- include "uptrace.labels" . | nindent 4 }}
  annotations:
    {{- with .Values.podAnnotations }}
    {{- toYaml .Values.podAnnotations | nindent 4 }}
    {{- end }}

spec:
  imageName: {{ .Values.postgresql.imageName }}
  imagePullSecrets:
    {{- toYaml .Values.postgresql.imagePullSecrets | nindent 4 }}

  instances: {{ .Values.postgresql.instances }}

  storage:
    size: {{ .Values.postgresql.storage.size }}
    {{- if not (empty .Values.postgresql.storage.pvcTemplate) }}
    pvcTemplate:
      {{- toYaml .Values.postgresql.storage.pvcTemplate | nindent 6 }}
    {{- else }}
    {{- if .Values.postgresql.storage.storageClass }}
    storageClass: {{ .Values.postgresql.storage.storageClass }}
    {{- end }}
    {{- end }}
{{- end }}
